* {
    margin:0;
    font-family: 'Poppins', sans-serif;
    padding: 0;
}

/* Content */
.content-up {
    background-color: #6c686c;
    width: 100vw;
    margin: 0;
    padding: 120px 10vw;
    text-align: justify;
}

.profile {
    background-color:#acf48b;
    border-radius: 10px;
    padding: 50px;
    gap: 80px;
    box-shadow: 0px 10px 100px rgb(70, 132, 47);
}

.content-down {
    margin: 0;
    width: 100vw;
}

.content-left{
    flex: 50%;
    justify-content: left;
}

.content-right{
    flex: 50%;
    justify-content: right;
}

.contact-download {
    margin-top: 10px;
    gap: 25px;
}

.contact-download > a {
    text-decoration: none; 
    padding: 6px 20px; 
    background-color: #111727; 
    color: white; 
    border-radius: 180px; 
}

.contact-download > a:hover {
    background-color: orangered;
    transition: 700ms;
}
/*
.content-left {
    flex: 50%;
}
/*
.content-right {
    flex: 50%;
    margin-right: 40px;
}

.text-area > h1 {
    color: black;
    font-weight: bold;
    font-size:xx-large;
}

.text-area > p {
    text-align: justify;
    margin-top: 20px;
}








.sosmed {
    width: 100%; 
    justify-content: left; 
    display:flex; 
    margin-top: 50px; 
    gap: 30px;
}

.sosmed a {
    background-color: black; 
    color:white; 
    text-decoration:none; 
    padding:8px; 
    border-radius: 360px; 
    display: inline-flex; 
}

.sosmed a:hover {
    background-color: orangered;
}

.content-right .profile-card {
    width: 400px; 
    height: 600px;
    object-fit: fill;
    border: 1px solid black; 
    margin: 30px auto; 
    box-shadow: 0px 2px 20px #968f8f; 
    border-radius: 15px; 
    border: none; 
    overflow: hidden; 
    background-color: #f8f5f5; 
}

.profile-card img {
    width: 100%;
}

.profile-card div {
    margin: 20px;
}

.profile-card div h2 {
    text-align: center; 
    margin: 0; 
    font-weight: 1000;
}

.profile-card div p {
    color: #272626; 
    margin: 0; 
    text-align:center; 
    font-size: 20px; 
    font-weight: 400;
}
*/
